html, body, #app {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background: #fff;
}

.main-content {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 24px 0;
}

@media (max-width: 900px) {
  .main-content {
    width: 98vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 12px 0;
  }
} 